n8n_audit_workflow.json
{
  "name": "Trust No Code - Agentic Audit Workflow (Final Fix)",
  "nodes": [
    {
      "parameters": {},
      "id": "1d2f3g4h",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo_path",
              "value": "/home/node/VoiceTrainer"
            },
            {
              "name": "audit_type",
              "value": "Security"
            },
            {
              "name": "include_globs",
              "value": "**/*"
            }
          ]
        }
      },
      "id": "2d3f4g5h",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "text": "={{ 'Scan ' + $json.repo_path }}"
      },
      "id": "3d4f5g6h",
      "name": "Agent: Repo Mapper",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o"
      },
      "id": "4d5f6g7h",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "name": "list_files",
        "description": "List files",
        "command": "ls -R"
      },
      "id": "5d6f7g8h",
      "name": "Tool: List",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        580,
        220
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node.Configuration.json.audit_type }}",
        "rules": {
          "rules": [
            {
              "value2": "Security"
            },
            {
              "value2": "Architecture",
              "output": 1
            },
            {
              "value2": "Production",
              "output": 2
            }
          ]
        }
      },
      "id": "6d7f8g9h",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        860,
        0
      ]
    },
    {
      "parameters": {
        "text": "Analyze Security"
      },
      "id": "7d8f9g0h",
      "name": "Expert: Security",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1100,
        -120
      ]
    },
    {
      "parameters": {
        "text": "Analyze Architecture"
      },
      "id": "8d9f0g1h",
      "name": "Expert: Architecture",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "text": "Analyze Production"
      },
      "id": "9d0f1g2h",
      "name": "Expert: Production",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o"
      },
      "id": "0d1f2g3h",
      "name": "OpenAI Model Expert",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1100,
        540
      ]
    },
    {
      "parameters": {
        "name": "read_file",
        "description": "Read file",
        "command": "cat"
      },
      "id": "1a2b3c4d",
      "name": "Tool: Read",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [
        1260,
        540
      ]
    },
    {
      "parameters": {},
      "id": "2a3b4c5d",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "text": "QA Validation"
      },
      "id": "3a4b5c6d",
      "name": "Agent: QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1720,
        0
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/VoiceTrainer/report.json",
        "fileContent": "={{ JSON.stringify($json) }}"
      },
      "id": "4a5b6c7d",
      "name": "Write Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1940,
        0
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Agent: Repo Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_language_model": [
        [
          {
            "node": "Agent: Repo Mapper",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List": {
      "ai_tool": [
        [
          {
            "node": "Agent: Repo Mapper",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Repo Mapper": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Expert: Security",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expert: Architecture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Expert: Production",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expert: Security": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expert: Architecture": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expert: Production": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model Expert": {
      "ai_language_model": [
        [
          {
            "node": "Expert: Security",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Expert: Architecture",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Expert: Production",
            "type": "ai_language_model",
            "index": 0
          },
          {
            "node": "Agent: QA",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Read": {
      "ai_tool": [
        [
          {
            "node": "Expert: Security",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Expert: Architecture",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Expert: Production",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agent: QA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent: QA": {
      "main": [
        [
          {
            "node": "Write Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}