n8n_audit_workflow_v3.json
{
  "name": "Trust No Code - Agentic Audit Workflow (v3 - Switch V1)",
  "nodes": [
    {
      "parameters": {},
      "id": "start",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "repo_path", "value": "/home/node/VoiceTrainer" },
            { "name": "audit_type", "value": "Security" },
            { "name": "include_globs", "value": "**/*" }
          ]
        }
      },
      "id": "config",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Scan ' + $json.repo_path }}",
        "options": {}
      },
      "id": "agent_mapper",
      "name": "Agent: Repo Mapper",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [400, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "model_mapper",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node.Configuration.json.audit_type }}",
        "rules": {
          "rules": [
            { "value2": "Security" },
            { "value2": "Architecture", "output": 1 },
            { "value2": "Production", "output": 2 }
          ]
        }
      },
      "id": "switch",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze Security",
        "options": {}
      },
      "id": "expert_sec",
      "name": "Expert: Security",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze Architecture",
        "options": {}
      },
      "id": "expert_arch",
      "name": "Expert: Architecture",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze Production",
        "options": {}
      },
      "id": "expert_prod",
      "name": "Expert: Production",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "model_expert",
      "name": "OpenAI Model Expert",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {},
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "QA Validation",
        "options": {}
      },
      "id": "agent_qa",
      "name": "Agent: QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/VoiceTrainer/report.json",
        "fileContent": "={{ JSON.stringify($json) }}"
      },
      "id": "write",
      "name": "Write Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1700, 0]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]] },
    "Configuration": { "main": [[{ "node": "Agent: Repo Mapper", "type": "main", "index": 0 }]] },
    "OpenAI Model": { "ai_language_model": [[{ "node": "Agent: Repo Mapper", "type": "ai_language_model", "index": 0 }]] },
    "Agent: Repo Mapper": { "main": [[{ "node": "Switch", "type": "main", "index": 0 }]] },
    "Switch": {
      "main": [
        [{ "node": "Expert: Security", "type": "main", "index": 0 }],
        [{ "node": "Expert: Architecture", "type": "main", "index": 0 }],
        [{ "node": "Expert: Production", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Model Expert": {
      "ai_language_model": [
        [
          { "node": "Expert: Security", "type": "ai_language_model", "index": 0 },
          { "node": "Expert: Architecture", "type": "ai_language_model", "index": 0 },
          { "node": "Expert: Production", "type": "ai_language_model", "index": 0 },
          { "node": "Agent: QA", "type": "ai_language_model", "index": 0 }
        ]
      ]
    },
    "Expert: Security": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Expert: Architecture": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Expert: Production": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Merge": { "main": [[{ "node": "Agent: QA", "type": "main", "index": 0 }]] },
    "Agent: QA": { "main": [[{ "node": "Write Report", "type": "main", "index": 0 }]] }
  }
}
