n8n_audit_workflow_v2.json
{
  "name": "Trust No Code - Agentic Audit Workflow (v2)",
  "nodes": [
    {
      "parameters": {},
      "id": "start_v2",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "options": {}
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "repo_path", "value": "/home/node/VoiceTrainer" },
            { "name": "audit_type", "value": "Security" },
            { "name": "include_globs", "value": "**/*" }
          ]
        },
        "options": {}
      },
      "id": "config_v2",
      "name": "Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "text": "={{ 'Scan ' + $json.repo_path }}",
        "options": {}
      },
      "id": "agent_mapper_v2",
      "name": "Agent: Repo Mapper",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [400, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "model_mapper_v2",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "name": "list_files",
        "description": "List files",
        "command": "ls -R",
        "options": {}
      },
      "id": "tool_list_v2",
      "name": "Tool: List",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [550, 200]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node.Configuration.json.audit_type }}",
        "rules": {
          "rules": [
            { "value2": "Security" },
            { "value2": "Architecture", "output": 1 },
            { "value2": "Production", "output": 2 }
          ]
        },
        "options": {}
      },
      "id": "switch_v2",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [800, 0]
    },
    {
      "parameters": {
        "text": "Analyze Security",
        "options": {}
      },
      "id": "expert_sec_v2",
      "name": "Expert: Security",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "text": "Analyze Architecture",
        "options": {}
      },
      "id": "expert_arch_v2",
      "name": "Expert: Architecture",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "text": "Analyze Production",
        "options": {}
      },
      "id": "expert_prod_v2",
      "name": "Expert: Production",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "model_expert_v2",
      "name": "OpenAI Model Expert",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "name": "read_file",
        "description": "Read file",
        "command": "cat",
        "options": {}
      },
      "id": "tool_read_v2",
      "name": "Tool: Read",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "merge_v2",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "text": "QA Validation",
        "options": {}
      },
      "id": "agent_qa_v2",
      "name": "Agent: QA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [1500, 0]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/VoiceTrainer/report.json",
        "fileContent": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "write_v2",
      "name": "Write Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [1700, 0]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "Configuration", "type": "main", "index": 0 }]] },
    "Configuration": { "main": [[{ "node": "Agent: Repo Mapper", "type": "main", "index": 0 }]] },
    "OpenAI Model": { "ai_language_model": [[{ "node": "Agent: Repo Mapper", "type": "ai_language_model", "index": 0 }]] },
    "Tool: List": { "ai_tool": [[{ "node": "Agent: Repo Mapper", "type": "ai_tool", "index": 0 }]] },
    "Agent: Repo Mapper": { "main": [[{ "node": "Switch", "type": "main", "index": 0 }]] },
    "Switch": {
      "main": [
        [{ "node": "Expert: Security", "type": "main", "index": 0 }],
        [{ "node": "Expert: Architecture", "type": "main", "index": 0 }],
        [{ "node": "Expert: Production", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Model Expert": {
      "ai_language_model": [
        [
          { "node": "Expert: Security", "type": "ai_language_model", "index": 0 },
          { "node": "Expert: Architecture", "type": "ai_language_model", "index": 0 },
          { "node": "Expert: Production", "type": "ai_language_model", "index": 0 },
          { "node": "Agent: QA", "type": "ai_language_model", "index": 0 }
        ]
      ]
    },
    "Tool: Read": {
      "ai_tool": [
        [
          { "node": "Expert: Security", "type": "ai_tool", "index": 0 },
          { "node": "Expert: Architecture", "type": "ai_tool", "index": 0 },
          { "node": "Expert: Production", "type": "ai_tool", "index": 0 }
        ]
      ]
    },
    "Expert: Security": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Expert: Architecture": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Expert: Production": { "main": [[{ "node": "Merge", "type": "main", "index": 0 }]] },
    "Merge": { "main": [[{ "node": "Agent: QA", "type": "main", "index": 0 }]] },
    "Agent: QA": { "main": [[{ "node": "Write Report", "type": "main", "index": 0 }]] }
  }
}
